<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <div class="navigation"><%- include('../partials/navigation') %></div>
    <div class="header">
        <%- include('../partials/header') %>
         
    </div>
    <div id="wrapper">   
        <main>
         
                  <%- body %>
 
        </main>

        <%- include('../partials/footer') %>
    </div>
</body>
</html>