<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <div class="header">
        <%- include('../partials/navigation') %>
    </div>
    <div id="wrapper">   
        <main>
         
                  <%- body %>
 
        </main>
        <%- include('../partials/footer') %>
    </div>
    
</body>

</html>